.TodoPage.MuiContainer-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  .todo-TextField {
    width: 13rem;
    margin-bottom: 1rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 100%;
    margin-bottom: 1rem;
  }

  .todo-summary {
    display: flex;
    align-items: center;
  }

  .view-toggles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 20rem;
  }

  .todo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .todos {
    flex-grow: 1;
    &.--is-completed {
      .MuiTypography-root {
        text-decoration: line-through;
        opacity: 0.25;
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.confirm-delete-popover-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  .popover-actions {
    display: flex;
    justify-content: space-between;
  }
}
