.TodoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  .todo-input {
    padding: 0.5rem 1rem;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 3rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    max-width: 20rem;
    width: 100vw;
    input {
      border: none;
    }
  }

  .delete-button {
    opacity: 0;
    &:hover {
      svg {
        fill: red;
      }
    }
  }

  .todos {
    max-width: 30rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    column-gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;

    &.is-completed {
      opacity: 0.4;
    }

    &:hover {
      .delete-button {
        opacity: 1;
      }
    }

    button {
      height: 3rem;
      border: none;
      background-color: unset;
    }
  }

  .add-todo-button {
    padding: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    border-left: 1px solid black;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    column-gap: 0.5rem;
    max-width: 30rem;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border: 1px solid gray;
    background-color: rgba(gray, 0.1);
  }

  .view-toggles {
    display: flex;
    flex-wrap: wrap;
    button {
      border: 1px solid transparent;
      background-color: unset;
      &:hover {
        border: 1px solid gray;
      }

      &.--is-selected {
        border: 1px solid black;
      }
    }
  }
}
